<% if (theme.addthis.enable){ %>
  <!-- JiaThis Button BEGIN -->
  <div class="jiathis_style" style="margin-left: 4px;">
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"><img src="/images/share.png" border="0" /></a>
  </div>
  <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
  <!-- JiaThis Button END -->
<% } %>
