    </div>
    <div id="footer" class="mono">
        <span class="line">最新版本: <a href="http://requirejs.org/docs/download.html">2.1.14</a></span>
        <span class="line">开源协议: <a href="https://github.com/jrburke/requirejs/blob/master/LICENSE">new BSD or MIT licensed</a></span>
        <span class="line">
            网页设计 <a href="http://andychung.ca">Andy Chung</a> |
            翻译 <a href="http://biqing.me">Biqing Kwok</a> |
             &copy; 2011-2014
        </span>
    </div>
</div>

</body>
</html>